<mat-drawer-container autosize class="example-container">
    <mat-drawer #drawer mode="side" class="example-sidenav">
        <!-- <ng-container #viewport></ng-container> -->
        <!-- <ng-content select="[role='list']"></ng-content> -->
        <!-- <ng-content select="div"></ng-content> -->
        <ng-content select="sidenav-content"></ng-content>
    </mat-drawer>

    <div #div class="example-sidenav-content">
        <ng-content></ng-content>
        <!-- <button #matButton type="button" mat-button (click)="toggleSidenavOpened()">
            Toggle sidenav
        </button> -->
    </div>
</mat-drawer-container>
