<!-- <ng-template let-productsFromNgIf="ngIf" [ngIf]="products"> -->
<!-- <ng-template let-productsFromNgIf="appIf" [appIf]="products"> -->
<!-- <ng-template let-productsFromNgIf="ngIf" [ngIf]="products" [ngIfElse]="loader"> -->
<!-- <div *ngIf="products; else: loader; let productsFromNgIf = ngIf" class="scroll-container"> -->
<!-- <div *ngIf="products; else: loader; ngIf as productsFromNgIf" class="scroll-container"> -->
<div *ngIf="products as productsFromNgIf; else loader" class="scroll-container">
    <!-- <ng-template ngFor let-product [ngForOf]="productsFromNgIf" [ngForTrackBy]="trackBy"> -->
    <app-card
        *ngFor="let product of productsFromNgIf; trackBy: trackBy"
        class="card"
        [product]="product"
        (buy)="onProductBuy($event)"
    ></app-card>
    <!-- </ng-template> -->
</div>
<!-- </ng-template> -->

<ng-template #loader>
    <mat-spinner></mat-spinner>
</ng-template>
